{% block content %}
<!-- ======== START OF HEADER SECTION ========= -->
{% include "blog_includes/blog_header.html" %}
<!-- ======== END OF HEADER SECTION =========== -->

{% load static %}

    <!-- ======== START OF HEADER SECTION ========= -->
    {% include "blog_includes/blog_menubar.html" %}
    <!-- ======== END OF HEADER SECTION =========== -->

    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    <section id="courseArchive">
        <div class="container">
            <div class="row">
                <!-- start course content -->
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="courseArchive_content">
                        <!-- start blog archive  -->
                        <div class="row">
                            <!-- start single blog archive -->
                            {% for i in blogData %}
                            <div class="col-lg-12 col-12 col-sm-12">
                                <div class="single_blog_archive wow fadeInUp">
                                    <div class="blogimg_container">
                                        <a href="#" class="blog_img">
                                        <img alt="img" src="{{ MEDIA_URL }}blog_file/{{ i.blog_file }}">
                                        </a>
                                    </div>
                                    <h2 class="blog_title"><a href="#">{{ i.blog_title | title|striptags }}</a></h2>
                                    <div class="blog_commentbox">
                                        <p><i class="fa fa-user"></i>Based on social research</p>
                                        <p><i class="fa fa-calendar"></i>{{ i.date }}</p>
                                        <!-- <a href="#"><i class="fa fa-comments"></i>20 Comments</a> -->
                                    </div>
                                    <!-- <p class="blog_summary">Duis erat purus...</p> -->
                                    <a class="blog_readmore" target="_blank" 
                                    {% if menuData != '' %}
                                    href="{% url 'front_blog_detail' i.id %}"
                                    {% else %}
                                    onclick="alert('You need to log in first !')"
                                    href="{% url 'web_sign_in' %}" 
                                    {% endif %}
                                    >Read More</a>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- start single blog archive -->
                        </div>
                        <!-- end blog archive  -->
                    </div>
                </div>
                <!-- End course content -->

                <!-- ======== START OF HEADER SECTION ========= -->
                {% include "blog_includes/blog_aside.html" %}
                <!-- ======== END OF HEADER SECTION =========== -->

            </div>
        </div>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->

<!-- ===== START OF FOOTER SECTION ======== -->
{% include "blog_includes/blog_footer.html" %}
<!-- ===== END OF FOOTER SECTION ========== -->
{% endblock content %}